*{
    box-sizing: border-box;
}
/*
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-11{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{ width: 100%;}*/

@media(min-width: 0px){
    .col-m-1{width: 8.33%;}
    .col-m-2{width: 16.66%;}
    .col-m-3{width: 25%;}
    .col-m-4{width: 33.33%;}
    .col-m-5{width: 41.66%;}
    .col-m-6{width: 50%;}
    .col-m-7{width: 58.33%;}
    .col-m-8{width: 66.66%;}
    .col-m-9{width: 75%;}
    .col-m-11{width: 83.33%;}
    .col-m-11{width: 91.66%;}
    .col-m-12{ width: 100%;}
}

@media(min-width: 768px){
.col-m-1{width: 8.33%;}
.col-m-2{width: 16.66%;}
.col-m-3{width: 25%;}
.col-m-4{width: 33.33%;}
.col-m-5{width: 41.66%;}
.col-m-6{width: 50%;}
.col-m-7{width: 58.33%;}
.col-m-8{width: 66.66%;}
.col-m-9{width: 75%;}
.col-m-11{width: 83.33%;}
.col-m-11{width: 91.66%;}
.col-m-12{ width: 100%;}
}

[class*="col-"]{
    float: left;
}

.text_center{
    text-align: center;
}

.m-1{
    margin: 1em;
}
.row::after{
    content: "";
    clear: both;
    display: table;

}


.back-white{
    background-color: white;
}

.p-1{
    padding: 1em;
}

.teal{
    background-color: teal;
}

.text-white{
    color: white;
}

.flex{
    display: flex;
}
#foto{
    background-image: url(https://picsum.photos/350/300);
    height: 15em;
    align-items: flex-end;
}

#foto div{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.pb-1{
    padding-bottom: 0.5em;
}

html{
    background-color: #00000014 ;
}

.skill-box{
    background-color: turquoise;
   
}


.b_rad{
    border-radius: 10px;
}

.leng-box{
    height: 1em;
}

.pers-info{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section-title{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

.text-teal{
    color: teal;
}
.current{
    padding: 0 0.5em;
    border-radius: 4px;
}